{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>django-boilerplate</title>

	<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"> 
    
</head>
<body>

    {% comment %} left-side-bar {% endcomment %}
    <div id="box1"></div>
    
    <hr id="line1">
    <hr id="line2">

    {% comment %} map {% endcomment %}
    {% comment %} <div id="map"></div> {% endcomment %}
   

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=930ea9f92215042f71616a6876e105a9"></script>
    <script type="text/javascript" src="{%static 'js/map.js' %}"></script>
	{% comment %} {% block content %}
	{% endblock %}  {% endcomment %}
</body>
</html>